{% extends 'bases/header.html' %}

{% block content %}

<h1>Categories</h1>
<h3>Delete Category Expense {{person.person_name}}, Category : {{category.category_name}}</h3>
<form method=POST action="">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" class='btn btn-outline-danger' value = "Confirm this Delete" >
</form>
<br>
<a href="{% url 'categories:person_category_index' person_id=person.id month=month year=year %}" ><button type='button' class='btn btn btn-outline-info' >Back to Expense Report</button></a>
<br><br>
{% endblock %}