{% extends 'bases/header.html' %}

{% block content %}
<br>
<h3>Edit Category Expense {{person.person_name}}, Category : {{category.category_name}}</h3>
<form method=POST action="">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" class='btn btn-outline-success' value = "Save Edits!" >
</form>
<br>
<button type='button' class='btn btn-outline-info' ><a href="{% url 'categories:person_category_index' person_id=person.id month=month year=year %}" >Back to Expense Report</a></button>
<br><br>
{% endblock %}