{% extends 'bases/header.html' %}

{% block content %}
<br>
<h3>Add a new Expense Category for {{person.person_name}}</h3><br>
<form method=POST action="">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" class='btn btn-outline-success' value = "Save This Expense!" >
</form>
<br>
<a href="{% url 'categories:person_category_index' person_id=person.id month=month year=year %}" ><button type='button' class='btn btn-outline-info' >Back to Expense Report</button></a>
<br><br>
{% endblock %}