{% extends 'bases/header.html' %}

{% block content %}
<br>
<h3>Add a new Expense Category for {{person.person_name}}</h3><br>
<form method=POST action="">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" class='btn btn-outline-success' value = "Save This Expense!" >
</form>
<br>
<button type='button' class='btn btn-outline-info' ><a href="{% url 'categories:person_category_index' person_id=person.id month=month year=year %}" >{{person.person_name}}'s Expenses</a></button>
<br><br>
{% endblock %}