
<!DOCTYPE HTML>
<html lang = "en">
<head>
    <!-- basic.html -->
    <title>Finance and Budgetting app</title>
    <meta charset = "UTF-8" name="viewport" content="width-device-width , initial-scale=1"  />

    <!--bootstrap stuff -->
    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- Javascript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js" integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP" crossorigin="anonymous"></script>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href=""> Track Our Expense</a>
  <!--Think about what links I should have here -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'people:edit_person' current_user.id %}">{{current_user.person_name}}<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'groups:inspect_group' current_user.group_couple.id %}">{{current_user.group_couple.group_name}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'categories:person_category_index' current_user.id this_month this_year  %}">Current Month</a>
      </li>
    </ul>
  </div>
</nav>
    {% block content %}
    {% endblock %}
</body>
</html>