
<!DOCTYPE HTML>
<html lang = "en">
<head>
    <!-- basic.html -->
    <title>Finance and Budgetting app</title>
    <meta charset = "UTF-8" name="viewport" content="width-device-width , initial-scale=1"  />

    <!--bootstrap stuff -->
    {% load staticfiles %}
    <link rel='stylesheet' href="{% static 'bases/css/bootstrap.min.css' %}" type ='text/css'/ >
    <script src="{% static 'bases/js/bootstrap.min.js' %}" type="text/js" ></script>
    
<style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>
<body>
<h1>Welcome to Track Our Expense</h1>
<h3>The Family budgetting App</h3>
<br><br>
<a href="{% url 'login' %}" ><button type='button' class = 'btn btn-outline-success' >Login</button></a>
</body>
</html>