<h1>Groups</h1>
<h3>Edit {{group.group_name}}!</h3>
<form method=POST action="">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value = "Save Edits!" >
</form>
<h3>Satisfied with {{group.group_name}}</h3>
<button> <a href="{% url 'groups:groups_index' %}" >Go Back to Summary</a> </button>
{% if people|length > 0 %}
<h3>Meet The team at {{group.group_name}}</h3>
<ul>
    {% for person in people %}
    <li>{{person.person_name}}<button><a href = "{% url 'people:edit_person' person.id  %}" >Edit</a></button> or <button><a href= "{% url 'categories:person_category_index' person.id  %}" >View Expenses</a></button>
    </li>
    {% endfor %}
</ul>
{% endif %}